<nav>
    <div class="nav-wrapper blue darken-3">
      <a href="/" class="brand-logo">Home</a>
      <ul class="right">
      <li><a href="/data" id="data-btn">DATA</a></li>
        <li><a class="waves-effect waves-light btn" href="#modal1">Upload</a></li>
        <% include ./form %>
      </ul>
    </div>
</nav>
