  <nav>
    <div class="nav-wrapper teal">
      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/">Upload</a></li>
      </ul>
    </div>
  </nav>

<!-- <i class="material-icons">home</i>
 -->
