<!DOCTYPE html>
<html>
<head>

   <% include ./partials/head %>

</head>
<body>

  <% include ./partials/nav %>

  <div id="container">

    <div id="post-container">

      <% include ./partials/posts %>

    </div>

  </div>

  <% include ./partials/footer %>

</body>
</html>
