<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <form enctype="multipart/form-data" action="/upload" method="post">
    <input type="text" placeholder="Your Name" name="name">
    <input type="file" name="upl" />
    <input type="text" placeholder="tags" name="tags">
    <input type="submit" value="Upload" name="submit" />
  </form>

  <ul>
    <% files.forEach(function(file) { %>
      <li><%= file %></li>
    <% }) %>
  </ul>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
