<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="post" action="/create">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Sign up!</button>
  </form>
</body>
</html>
