<!DOCTYPE html>
<html>
<head>

  <% include ./partials/head %>

</head>

<body>

  <% include ./partials/nav %>

  <div id="container">

  <h4> Tagged <%= tag %> </h4>

  <% include ./partials/posts %>

  </div>

  <% include ./partials/footer %>

</body>
</html>
