
input {
  margin: 10px;

}

/*a:hover {
  color:#2962ff
}*/

#post-container{
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  width: 90%;
/*  background-color: pink;*/
}

.posts {
  display: inline-block;
/*  float:left;*/
/*  height: 200px;
  width: 400px;*/
  margin: 20px;
}

#container {
  padding: 50px;
}

#form-container{
  width: 40%;
  margin: 0 auto;
}

#upload-btn {
  display: block;
  margin: 0 auto;
}

.material-icons {
  float: right;
}

.material-icons:hover {
  cursor: pointer;
}

#tags {
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
}

.modal{
width: 300px;
overflow:hidden;
max-height: 1000px;
}

.card {
  width: 250px;
}
