
input {
  margin: 10px;
}

.brand-logo {
  padding-left: 20px !important
}

#post-container{
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  width: 90%;
}

.posts {
  display: inline-block;
  margin: 20px;
}

#container {
  padding: 50px;
}

#form-container{
  width: 100%;
  margin: 0 auto;
}

#upload-btn {
  display: block;
  margin: 0 auto;
}

.material-icons {
  float: right;
}

.material-icons:hover {
  cursor: pointer;
}

#tags {
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
}

.description {
  outline: none;
}

textarea, .chips{
  line-height: 1;
}

.file-path {
  font-size: 13px !important;
}

.modal{
width: 330px;
max-height: 1000px;
color: black;
}

.card {
  width: 250px;
}

#key {
  font-weight: bold;
}

table {
  font-size: 12px;
}

#back-arrow {
  font-size: 5em;
  color: black;
  padding-left: 50px;
}


